@import "./variables.scss";

.app {
  min-height: 100vh;
}

header {
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: $color-blue;
}

.header-logo {

  >h1 {
    font-size: 2.42rem;
    margin-bottom: .8rem;
  }

  >h1,
  h5,
  h6 {
    color: white;
  }
}

section {
  display: block;
  //   min-height: 100vh;
  background: $color-white;
}

.flex {
  display: flex;
}

.item {
  //   position: relative;
  //   background: $color-grey-light;
  width: 100%;
}

.long {
  min-height: 100vh;
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: $color-grey-light;
}

.stuck {
  position: sticky;
  position: -webkit-sticky;
  height: 100%;
  width: 40%;
  top: 10vh;
  padding: 3rem;
  margin-bottom: 100px;
  //   background: red;
}

.align-right {
  text-align: end;
}

.project {
  display: block;
  padding: 1.5rem;
  background: $color-grey-light;
  margin: 20px;
  border-radius: 10px;

  &-info {
    // background: green;
  }

  &-title {
    position: relative;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &-title::after {
    content: "";
    position: absolute;
    width: 30px;
    left: 0;
    bottom: 0;
    border-bottom: 2px solid $color-black;
  }
}


.resume {
  position: relative;
  min-height: 50vh;
  height: 100%;
  background: $color-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a.resume-link {
  width: 100%;
  text-align: center;
  color: $color-white;
  font-weight: 500;
  font-size: .85rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: none;
}

.resume-icon {
  font-size: 5rem;
  display: block;
  color: $color-white;
  margin-bottom: 6px;
}

.social-icons {
  display: flex;
  width: 100%;
  justify-content: center;
}

a.link-icon {
  color: $color-white;
  border-bottom: none;
  margin-bottom: 0;
}

.link-icon {
  &--wrapper {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background: none;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .6s ease-in-out;
    margin: .5rem;
  }

  &--wrapper:hover {
    color: $color-blue;
    background: $color-grey-light;
  }
}

footer {
  font-size: .8rem;
  text-align: center;
  padding: 2rem;

  >a {
    font-size: .8rem;
  }
}


@media only screen and (max-width: 650px) {
  .flex {
    // background: gold;
    display: inline-block;
    padding: 20px;
  }

  .stuck {
    width: 100%;
    top: 0;
    text-align: start;
    position: relative;
    margin-bottom: 0;
    padding: 3rem 0 1rem 1rem;

    >p {
      margin-bottom: 0;
    }
  }

  .long {
    height: 100%;
    width: 100%;
    min-height: 100%;
    border-radius: 20px;
  }
}
