@import "./variables.scss";
.app {
  min-height: 100vh;
}

header {
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section {
  display: block;
  min-height: 100vh;
  background: $color-blue;
}

.flex {
  display: flex;
}

.item {
  position: relative;
  background: gold;
}

.long {
  min-height: 100vh;
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.stuck {
  position: sticky;
  position: -webkit-sticky;
  height: 100%;
  width: 40%;
  top: 20vh;
  background: pink;
  padding: 2rem;
}

.container {
  position: relative;
  display: block;
  margin: 0 auto;
  background: purple;
  width: 80%;
  height: 80vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //   background: rgba(0, 0, 0, 0.3);
  &--inner {
    background: pink;
    text-align: center;
    padding: 40px;
    position: sticky;
    position: -webkit-sticky;
    top: 30vh;
  }
}
.align-right {
  text-align: end;
}

.project {
  display: block;
  height: 100%;
  //   width: 100%;
  padding: 1.5rem;
  background: red;
  margin: 20px;
  border-radius: 10px;
}
