// Colors
$color-white: #ffffff;
$color-grey-light: #ebebeb;
$color-grey: #f9f9f9;
$color-grey-dark: #f9f9f9;
$color-blue: #1c4ef3;
$color-black: #252525;

// Font
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
